*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header_logo img {
  max-width: 100%;
  display: block;
}

.burger_svg {
  fill: white;
}

.header_burger {
  display: block;
  width: 40px;
  height: 30px;
}

.header_burger svg {
  display: none;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header_link {
  color: #dfdede;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  background-color: black;
  border-radius: 15px;
  padding: 8px;
}

.header_link:hover,
.header_link:focus {
  color: cadetblue;
}

@media (max-width: 900px) {
  .header_link {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header_burger svg {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header_menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 70px 10px 20px 10px;
    background-color: rgb(65, 136, 53);
  }
  .header_menu.active {
    left: 0;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0px 0px 20px 0px;
  }
}
.cont-text:first-child {
  margin-top: 70px;
}

.cont-text p {
  margin-bottom: 30px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
}

.zaharovna {
  margin-top: 80px;
}

.zaharovna h1 {
  color: rgb(0, 0, 0);
}

.zaharovna img {
  width: 100%;
  max-width: 100vw;
  border-radius: 20px;
}

.seryoga {
  margin-top: 80px;
}

.seryoga h1 {
  color: rgb(0, 0, 0);
}

.seryoga img {
  width: 250px;
  max-width: 100vw;
  border-radius: 20px;
}

.det {
  background-color: aqua;
  padding: 10px;
}

.det:hover,
.det:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.05s ease;
  transition: all 0.05s ease;
}

.contrnt_psi {
  margin-top: 70px;
}

.contrnt_psi div {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_card {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_card img {
  width: 350px;
  max-width: 100vw;
  padding: 5px 10px;
}

.img_card p {
  text-align: center;
}

body {
  background-image: url("https://oir.mobi/uploads/posts/2021-06/thumbs/1623683414_11-oir_mobi-p-zadnii-fon-priroda-priroda-krasivo-foto-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-btn {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 15px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  background-color: rgb(51, 106, 37);
  color: white;
}

.form-btn:hover,
.form-btn:focus {
  background-color: rgb(69, 134, 53);
  color: #e1e0e0;
}

input[type=text] {
  width: 95%;
  padding: 20px 5px;
  display: inline-block;
  background-color: rgb(236, 236, 236);
}

input[type=text]:hover, input[type=password]:hover,
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(255, 255, 255);
}

.modal {
  position: absolute;
  top: -100%;
  max-width: 100vw;
  width: 640px;
  background-color: rgb(52, 119, 43);
  border-radius: 20px;
  display: none;
  z-index: 100;
}

.modal-container {
  padding: 40px 40px;
}

.modal-close {
  position: relative;
  top: 0;
  left: 100%;
  width: 20px;
  border-radius: 50%;
}

.modal-open {
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.is-active {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation-name: modal;
          animation-name: modal;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.label {
  font-size: 20px;
  color: white;
}

.text-form {
  width: 50px;
}

.submit {
  padding: 10px 15px;
  margin: 30px 0px;
  color: rgb(0, 0, 0);
}

.submit:hover,
.submit:focus {
  background-color: rgb(200, 239, 178);
  color: rgb(37, 37, 37);
}

.secsess {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  display: none;
}

.secsess p {
  padding: 15px 10px;
}

.close-window {
  position: relative;
  top: 0;
  left: 90%;
  width: 20px;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */