.container {
    //  outline: 1px solid red; 
  
    width: 1200px;
  
    padding-left: 15px;
    padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
  }
  body{
    background-image: url('https://kartinkin.net/uploads/posts/2021-04/thumbs/1617585036_24-p-fon-dlya-saita-temnii-24.jpg');
  }